*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    gap: 50px;
    background-color: #f8fafc;
}
ul{
    list-style-type: none;
}
ul li{
    background-color: orange;
    width: 100px;
    border-radius: 2px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color: #f1f5f9;
    height: 30px;
}
ul li:hover{
    background-color: #e2e8f0;
}
a{
    text-decoration: none;
    color: black;
}